<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %> <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip_code %></p>

<h4><%= @restaurant.description %></h4>

<p><%= link_to "Back", restaurants_path %></p>
